@font-face {
    src: url(fonts/Old-fantasyupper-case.ttf);
    font-family: art;
}

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

body {
    background-image: url(images/8bit.png);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}
header, main {
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: art;
}

footer {
    position: absolute;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: art;
    background-color: rgba(240, 240, 240, .4);
}

a {
    text-decoration: none;
    color: white;
    font-family: art;
    text-shadow: 2px 2px black;
}
.title {
    height: 200px;
    width: 100%;
    max-width: 1220px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 35px;
    text-shadow: 3px 4px black;
    user-select: none;
}

.title .rock {
    color: red;
    opacity: .7;
}

.title .paper {
    color: blue;
    opacity: .7;
}

.title .scissors {
    color: green;
    opacity: .7;
}

.gameElement {
    height: 200px;
    width: 100%;
    max-width: 700px;
    border: solid cornsilk 10px;
    border-radius: 12px;
    box-shadow: 3px 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(240, 240, 240, .4);
    
}

.gameElement .item:hover, .play-again:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all .3s;
}

.gameElement .fa-hand-rock {
    color: red;
    text-shadow: 2px 3px darkred;
 
}

.gameElement .fa-hand-paper {
    color: blue;
    text-shadow: 2px 3px black;

}

.gameElement .fa-hand-scissors {
    color: green;
    text-shadow: 2px 3px darkgreen;

}


.win {
    color: gold;
    font-size: 60px;
    user-select: none;
    text-shadow: 3px 4px black;
}

.lose {
    color: darkred;
    font-size: 70px;
    user-select: none;
    text-shadow: 3px 4px black;
}
.mainBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameRound {
    width: 100%;
    max-width: 620px;
    display: flex;
    align-items: center;

}

.gameRound .player, .gameRound .comp {
    height: 200px;
    width: 200px;
    border: solid cornsilk 5px;
    box-shadow: 3px 4px;
    border-radius: 12px;
}

.player, .comp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 240, 240, .4);
}

.playerScore {
    text-shadow: 3px 4px black;
    color: gold;
    user-select: none;
}

.compScore {
    text-shadow: 2px 2px white;
    user-select: none;
}

.playerScore, .compScore {
    font-size: 40px;
}


.player .fa-hand-rock, .comp .fa-hand-rock {
    color: red;
    text-shadow: 2px 3px darkred;
}
.player .fa-hand-paper, .comp .fa-hand-paper {
    color: blue;
    text-shadow: 2px 3px black;
}
.player .fa-hand-scissors, .comp .fa-hand-scissors {
    color: green;
    text-shadow: 2px 3px darkgreen;
}
.gameRound .sign {
    height: 200px;
    width: 200px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: .7;
    text-shadow: 3px 4px black;
    user-select: none;
}

.playerBox, .compBox {
    text-align: center;

}

.playerBox h3 {
    color: gold;
    font-size: 25px;
    text-shadow: 3px 4px black;
    user-select: none;
}

.compBox h3 {
    font-size: 25px;
    text-shadow: 3px 4px white;
    user-select: none;
}


.gameChecker {
    margin-top: 50px;
    height: 200px;
    width: 100%;
    min-width: 670px;
    max-width: 700px;
    border: solid cornsilk 10px;
    border-radius: 12px;
    box-shadow: 3px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(240, 240, 240, .9);
}

.howToStart {
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px black;
    user-select: none;
}

.roundContent {
    margin-top: -100px;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px black;
    user-select: none;
    position: absolute;
}

.roundCheck {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 14px;
}
.beat, .loseTo{
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px black;
    user-select: none;
}

.ties {
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px black;
    color: white;
    user-select: none;
}
.play-again {
    height: 120px;
    width: 220px;
    font-family: art;
    font-size: 30px;
    color: white;
    text-align: center;
    text-shadow: 2px 3px black;
    border: solid cornsilk 10px;
    border-radius: 12px;
    box-shadow: 3px 4px black;
    background-color: red;
}

.rockColor {
    font-size: 25px;
    color: red;
    user-select: none;
    text-shadow: 1px 1px black;
}

.paperColor {
    font-size: 25px;
    color: blue;
    user-select: none;
    text-shadow: 1px 1px black;
}

.scissorsColor {
    font-size: 25px;
    color: green;
    user-select: none;
    text-shadow: 1px 1px black;
}

/*@media (max-width: 750px){
    body {
      width: 50%;
      height: 200px;
      overflow: hidden;
    }
}*/